#container{
    width: 1200px;
    height: 1000px;
    background-color: white;
    margin: auto;
    padding: 1px;
}

section{
    width: 1200px;
    height: 500px;
}

label{
        margin-bottom: 20px;
        font-weight: bold;
    }

input,textarea {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    margin: 10px;
}
form{
    margin-left: 120px;  
    margin-top: 20px; 
    border: 2px solid goldenrod;
    width: 400px;
    height: 310px;
    padding-left: 10px;
}
label{
        display: inline-block;
        width: 100px;
        text-align: left;
    }

button {
    background-color: goldenrod;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}